@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Elmdale Public Schools</h1>
    <center><img src="https://imgur.com/LGRXbgN.jpg" alt="Elmdale Elementary Entrance"></center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User Portal</h2>
        <p>Login or register an account.</p>
        <p><a class="btn btn-default" href="~/Account/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Staff Directory</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/User/TeachersViewOnly">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About EPS</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
</div>