@model TestProject2.Models.StudentPortalViewModel
@{
    ViewBag.Title = "StudentPortal";
}

<h2>StudentPortal</h2>

<p>@Html.DisplayFor(model => model.User.Id)</p>
   
 @foreach (var student in Model.StudentIds) 
 { 
    <p>@student.StudentId</p>
 }


