@model TestProject2.Models.StudentPortalViewModel
@{
    ViewBag.Title = "Student Portal";
}

<h1>StudentPortal</h1>

<h2>Hello, @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)</h2>


@if (Model.User.Role == "Guardian")
{
    <h4>Your Children:</h4>
    foreach (var student in Model.StudentIds)
    {
        <p>Student ID: @student.StudentId</p>
    }
}

<h3>Gradebook</h3>


