@model TestProject2.Models.DrillViewModel
@{ ViewBag.Title = "Drill"; }

<h2>Drill</h2>

@{ var questionCounter = 1; }

@foreach (var q in Model.DrillQuestions)
{
    <h4>Question @questionCounter:</h4>
    { questionCounter = questionCounter + 1; }

    <h7>@q.MathQuestion</h7><br /><br /><br />

}