@model TestProject2.Models.DrillViewModel
@{ ViewBag.Title = "Drill"; }

<h2>Drill</h2>

@{ 
    var questionCounter = 1;
    var answerList = new List<string> { };
}

@foreach (var q in Model.DrillQuestions)
{
    <h4>Question @questionCounter:</h4>

    <h7>@q.MathQuestion</h7><br />
    <input type="text" id="txtAnswer_@questionCounter" /><br /><br /><br />

    { questionCounter = questionCounter + 1; }
}