@model TestProject2.Models.DrillViewModel
@{ ViewBag.Title = "Drill"; }

<h2>Drill</h2>

@{ 
    var questionCounter = 1;
    var answerList = new List<string> { };
}

@using (Html.BeginForm("DrillResults", "Assessment", FormMethod.Post)) {

    foreach (var q in Model.DrillQuestions)
    {
        <h4>Question @questionCounter:</h4>
    
        <h7>@q.MathQuestion</h7><br />
        <input type="text" id="idTxtAnswer_@questionCounter" name="txtAnswer_@questionCounter"/><br /><br /><br />
    
        { questionCounter = questionCounter + 1; }
    }
 
    

    @Html.HiddenFor(m => m.DrillQuestions)
    @Html.HiddenFor(m => m.StudentId)
    @Html.HiddenFor(m => m.CurrentTier)

    <input type="submit" id="submit" value="Submit" />

}


